.bottom-nav {
  position: fixed;
  bottom: 0;
  background-color: #dc2626;
  color: whitesmoke;
  width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bottom-nav__links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
